/*  Section with boxes  */
.main {
  left: 15%;
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
  background-color: greenyellow;
  float: center;
  height: 500px;
  width: 70%;
  overflow: hidden;
}

#second-navbar li a {
  color: white;
}

#whatsnew {
  left: 10%;
  background-color: black;
  margin-right: 50px;
  width: 80%;
  height: 110px;
  z-index: 3;
  position: relative;
  margin-top: 15%;
}
#first-navbar {
  min-height: 20px !important;
  height: 25px;
  background-color: #000000;
}

#first-navbar li a {
  color: white;
}

#first-navbar li a:hover {
  background-color: gray;
  height: 30px;
}

.firstnav-content {
  padding-left: 10%;
  color: white;
}

#view-all-deals {
  color: gold;
  margin-left: 35%;
  font-size: 12px;
}
#news {
  color: white;
  font-size: 12px;
}
#deals {
  color: white;
  font-size: 12px;
}
#all {
  color: gold;
  margin-left: 45%;
  font-size: 12px;
}

#div_main {
  background-image: url("../img/banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
}

#logo {
  float: left;
  display: inline-block;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel_div {
  width: 100%;
  height: 600px;
  position: relative;
}

.carousel_div .other-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 2;

  color: white;
}

.carousel_div .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  transition: opacity 1s ease-in-out;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}

.carousel_div .slide.show {
  opacity: 1;
}
hr{
  color: #000000;
  width: 90%;
}

.list-group a> {
  vertical-align: bottom;
  border-bottom: 2px solid hsl(0, 0%, 87%);
}

.l-hr{
  color: #000000;
  width: 90%;
  margin-right: 60%;
  right: 50%;
}